.container {
    display: flex;
    height: 100vh;
    /* Chiều cao bằng 100% chiều cao của viewport */
    max-width: none;
}

.left-sidebar {
    margin-top: 10px;
    width: 25vw;
}

.content-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header-content {
    margin-top: 10px;
    margin-left: 10px;
    height: 64px;
}

.main-content {
    background: linear-gradient(to bottom, rgb(30, 30, 30) 0%, rgb(18, 18, 18) 30%);
    flex-grow: 1;
    /* Chiếm phần còn lại của chiều cao */
    margin-left: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-yeuthich {
    font-family: 'CircularStd', sans-serif;
    color: #ffffff;
    padding: 20px;
    font-size: 25px;
    border-radius: 20px;
}

.row {
    padding: 20px;
}

.tag {
    border-radius: 10px;
}

.tag:hover {
    background: rgb(26, 26, 26);
}

.tag:hover .play-icon {
    opacity: 1;
}

.nghesi-img {
    padding: 20px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.tennghesi {
    padding-left: 20px;
    font-family: 'CircularStd', sans-serif;
    color: #ffffff;
}

.tagnghesi {
    padding-left: 20px;
    font-family: 'CircularStd', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.image-container {
    position: relative;
    /* Thêm vị trí tương đối để đặt biểu tượng bên trong */
}

.play-icon {
    position: absolute;
    bottom: 10px;
    /* Đặt khoảng cách từ dưới lên */
    right: 10px;
    /* Đặt khoảng cách từ phải sang */
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #00ff00;
    /* Màu xanh lục */
    font-size: 24px;
    /* Điều chỉnh kích thước biểu tượng */
}
.phobien {
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 20px;
    font-family: 'CircularStd', sans-serif;
    color: #ffffff;
    font-size: 23px;
    display: grid;
}
.grid-container { /* Thay .grid-container bằng class của container cha */
    display: grid;
    grid-template-columns: 1fr; /* Hiển thị 1 item trên mỗi dòng */
    /* Các thuộc tính grid khác của bạn */
  }
.grid-item {
    display: grid;
    grid-template-columns:  auto 1fr;
    grid-gap: 5px;
    align-items: center;
    width: 100%;
}
.grid-item:hover{
    background-color: rgb(36, 36, 36);
    border-radius: 10px; /* or any other value you want for the border-radius */
}
.grid-item:hover .heart-icon {
    display: inline-block;
}

.rank {
    padding-left: 30px;
    font-size: 24px;
    font-weight:lighter;
    color: rgb(85, 85, 85);
}

.song-info {
    padding:10px ;
    display: grid;
    grid-template-columns: auto 0.5fr 3fr 0.5fr;
    grid-gap: 10px;
    align-items: center;
    
}
.btn-success {
    width: 20vh;
}
.song-info img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    object-fit: cover;
}

.song-title {
    font-size: 16px;
}
.song-title-1 {
    display: inline-block; /* Hoặc inline */
    margin-right: 10px; /* Điều chỉnh khoảng cách giữa các phần tử */
    font-size: 20px;
    font-weight: lighter;
    color: rgb(85, 85, 85);
}
.heart-icon {
    display: none;
}
.heart-icon:hover {
    color:#1db954;
}
.track-grid {
    display: grid;
    /* 4 cột: title, duration, genre, button */
    grid-template-columns: 1fr 1fr 1fr auto; 
    grid-gap: 5px;
    padding-bottom: 5px;
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 26, 26); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Thêm z-index */
  }
  
  .popup-content {
    background-color: rgba(51, 51, 51); 
    padding: 20px;
    border-radius: 5px;
    width: 30%;
  }
  .form-control {
    border-radius: 3px;
    font-size: 16px;
    background-color: transparent; /* Đặt nền trong suốt cho ô input */
    color: white; /* Đặt màu chữ là trắng để dễ nhìn */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Thêm viền với màu trong suốt */
  }
  .form-button {
    padding: 10px;
    margin: 0 auto;      /* Căn giữa theo chiều ngang */
    text-align: center;  /* Căn giữa text bên trong button (nếu có) */
  }