@font-face {
    font-family: 'CircularStd';
    src: url('assets/fonts/CircularStd-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'CircilarStd', sans-serif;
  }